<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Party Boomer</h1>
  <p>Are you ready to take owner ship of the party?</p>
  <p>Please fill in the form</p>
  <form action="/" method="POST" style="display: flex; gap: 20px; flex-direction: column;">
    <div>
      <label for="url">Pary Url:</label>
      <input type="text" name="url" name="url">
    </div>

    <div>
      <label for="song-name">Song name:</label>
      <input type="text" name="song-name" id="song-name">
    </div>

    <div>
      <label for="n-likes">Number of likes:</label>
      <input type="number" name="n-likes" id="n-likes">
    </div>

    <button style="width: fit-content;">own the part</button>
  </form>
</body>
</html>